<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519595634736-n1mue9gkt228d0hof55u46n51unq2mav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519595634736-n1mue9gkt228d0hof55u46n51unq2mav</string>
	<key>API_KEY</key>
	<string>AIzaSyBfS2HeBcVK-kcxYErLLF-TwpcEO_UsS_c</string>
	<key>GCM_SENDER_ID</key>
	<string>519595634736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.regroup</string>
	<key>PROJECT_ID</key>
	<string>regroup-c4089</string>
	<key>STORAGE_BUCKET</key>
	<string>regroup-c4089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519595634736:ios:9f4f7de39438fc7cc7bdf5</string>
</dict>
</plist>